@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: #fcfcfc;
  font-family: 'Lato', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

p a {
  color: #01B7B9;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.main-content {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.btn--form {
  padding: 1rem 2rem;
  border-radius: .8rem;
  background-color: #01B7B9;
  border: 2px solid #01B7B9;
  transition: all .3s ease-in-out;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
}

.btn--form-custom {
  padding: 2rem 3rem;
  border-radius: .8rem;
  background-color: #01B7B9;
  border: 2px solid #01B7B9;
  transition: all .3s ease-in-out;
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
}

.btn--form:hover {
  background-color: #fff;
  border: 2px solid #01B7B9;
  color: #01B7B9;
}

.btn--form:hover a {
  color: #01B7B9;
}

.btn--form a {
  color: #fff;
}

.table-responsive {
  margin-top: 3rem;
  text-align: center;
}

.table-responsive table td {
  padding: 15px 0;
  font-size: 1.4rem;
}

.table-responsive table td p {
  font-size: 1.4rem;
}

.table-responsive table td p a {
  text-decoration: underline;
}

.table-responsive table thead tr {
  background-color: white;
}

.dataTables_length {
  text-align: left !important;
}

.dataTables_info {
  text-align: left !important;
}

.sorting, .sorting_asc {
  padding: 15px 5px !important;
}

.card--owl {
  padding: 2rem;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  margin: 3rem 1rem 3rem 1rem;
  border-radius: 10px;
  height: 13rem;
  background-color: #fff;
}

.card--owl p {
  color: #9C9C9C;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.card--owl h2 {
  font-weight: bold;
  font-size: 3rem;
}

.card--owl span {
  font-style: italic;
  color: #E30000;
  font-size: 11px;
}

.owl-carousel {
  width: 100%;
  display: block !important;
}

.owl-carousel .owl-nav {
  display: block !important;
  font-size: 2rem;
  color: #0f0f0f;
  text-align: end;
}

.owl-carousel .owl-prev {
  width: 2rem;
  height: 2rem;
  font-size: 2rem !important;
}

@media only screen and (max-width: 36em) {
  .owl-carousel .owl-prev {
    right: 10%;
  }
}

.owl-carousel .owl-next {
  width: 2rem;
  height: 2rem;
  font-size: 2rem !important;
}

.owl-carousel .owl-dots {
  display: none;
}

nav {
  padding: 1rem 0;
  background-color: #01B7B9;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 36em) {
  nav .navigation {
    display: block;
  }
}

.logoBox img {
  height: 6rem;
  width: 6rem;
  object-fit: contain;
}

.user--box ul {
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.user--box ul li:first-child {
  margin-right: 2rem;
  cursor: pointer;
  position: relative;
  transition: all .3s ease-in-out;
}

.user--box ul li:first-child:hover .notif--content {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 48em) {
  .user--box ul li:first-child {
    margin-right: 1.5rem;
  }
}

.user--box__card {
  display: flex;
  align-items: center;
}

.user--box__card--profil img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

@media only screen and (max-width: 36em) {
  .user--box__card--profil img {
    height: 3rem;
    width: 3rem;
  }
}

.user--box__card--info {
  margin-left: 1rem;
}

.notif {
  position: relative;
}

.notif .point {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #EB1111;
  position: absolute;
  top: 0;
  right: 0;
}

.notif--content {
  background-color: #fff;
  border-radius: .8rem;
  position: absolute;
  top: 4rem;
  right: 10%;
  width: 30rem;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 48em) {
  .notif--content {
    width: 20rem;
    left: 10%;
  }
}

@media only screen and (max-width: 36em) {
  .notif--content {
    left: 10%;
    z-index: 101;
  }
}

.notif--content::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  position: absolute;
  background-color: #fff;
  transform: rotate(45deg);
  right: 5%;
  top: -.6rem;
}

@media only screen and (max-width: 48em) {
  .notif--content::before {
    left: 5%;
  }
}

.notif--content ul {
  display: block !important;
}

.notif--content ul a {
  width: 100%;
}

.notif--content ul a li {
  padding: 1.5rem;
  color: #0f0f0f;
  width: 100%;
  transition: all .3s ease-in-out;
  border-radius: .8rem;
}

.notif--content ul a li:hover {
  background: rgba(246, 247, 251, 0.4);
}

.user--box__card {
  position: relative;
  cursor: pointer;
  color: #fff;
}

.user--box__card:hover .user--box__card--info {
  visibility: visible;
  opacity: 1;
}

.user--box__card--info {
  background-color: #fff;
  border-radius: .8rem;
  position: absolute;
  top: 4rem;
  right: 10%;
  width: 30rem;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 48em) {
  .user--box__card--info {
    width: 20rem;
    left: 10%;
  }
}

@media only screen and (max-width: 36em) {
  .user--box__card--info {
    left: 10%;
    z-index: 101;
  }
}

.user--box__card--info::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  position: absolute;
  background-color: #fff;
  transform: rotate(45deg);
  right: 5%;
  top: -.6rem;
}

@media only screen and (max-width: 48em) {
  .user--box__card--info::before {
    left: 5%;
  }
}

.user--box__card--info ul {
  display: block !important;
}

.user--box__card--info ul a {
  width: 100%;
}

.user--box__card--info ul a li {
  padding: 1.5rem;
  color: #0f0f0f;
  width: 100%;
  transition: all .3s ease-in-out;
  border-radius: .8rem;
}

.user--box__card--info ul a li:hover {
  background: rgba(246, 247, 251, 0.4);
}

.partform {
  display: flex;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .partform {
    display: block;
  }
}

.partform .part-leftform {
  width: 50%;
  overflow: auto;
  padding: 2rem;
}

@media only screen and (max-width: 48em) {
  .partform .part-leftform {
    text-align: center;
    width: 70%;
    height: initial !important;
    overflow: initial !important;
  }
}

@media only screen and (max-width: 600px) {
  .partform .part-leftform {
    width: 100%;
  }
}

.partform .part-leftform__title {
  text-align: center;
}

.partform .part-leftform__title img {
  height: 13rem;
  margin-bottom: 3rem;
}

.partform .part-leftform__title h2 {
  color: #01B7B9;
  font-size: 4rem;
  font-weight: bold;
}
.partform .part-leftform__title p {
  font-weight: bold;
}

.partform .part-leftform form {
  margin-top: 2rem;
  padding: 0 4rem;
}

.partform .part-rightform {
  height: 100%;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .partform .part-rightform {
    display: none;
  }
}

.partform .part-rightform img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
}

.partform .part-rightform .overlay {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  background-color: #01B7B926;
}

@media only screen and (max-width: 48em) {
  .partform .part-rightform .overlay {
    width: 30%;
  }
}

@media only screen and (max-width: 48em) {
  .partform .part-rightform {
    width: 30%;
  }
}

.form--group {
  margin-bottom: 1.5rem;
}

.form--group label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #01B7B9;
}

.form--group input {
  width: 100%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #F6F7FB;
  transition: all .3s ease-in-out;
  border: 1px solid #F6F7FB;
}

.form--group input:focus {
  background-color: #fff;
  border: 1px solid #01B7B9;
}

.form--group input::-webkit-input-placeholder {
  opacity: .5;

}

.section--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.section--title h2 {
  font-weight: bold;
}

.photo {
  display: flex;
  align-items: center;
}

.photo .pp img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-left: 2rem;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\2191";
  display: none !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\2193";
  display: none !important;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-right: 5px !important;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */